@tailwind base;
@tailwind components;
@tailwind utilities;

@import "highlight.js/styles/atom-one-dark.css";

.mockup-code::before {
  content: "";
  margin-bottom: 1rem;
  display: block;
  height: 0.75rem;
  width: 0.75rem;
  border-radius: 9999px;
  opacity: 0.5;
  box-shadow: 1.4em 0, 2.8em 0, 4.2em 0;
}

body {
  background-color: #1e1e1e;
  color: #d4d4d4;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  background: rgb(96 165 250);
}

body::-webkit-scrollbar-thumb {
  background: #1e1e1e;
  border-radius: 0.25rem;
}

body::-webkit-scrollbar-thumb:hover {
  background: #1e1e1e;
}

html {
  @apply scroll-smooth;
}
